*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    height: 100vh;
}

.options {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.exam-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.exam-list{
    height: 100%;
}

.option{
    font-family: Arial;
    font-size: large;
    margin:  5px;
    border: 0px;
    width: fit-content;
    cursor: pointer;
    padding: 10px;
}

.option:hover{
    background-color: #e0e0e0;
    border-radius: 5px;
    color: #000000;
    transition: background-color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}



.list {
    padding-top: 30px;
    text-align: center;
    width: 100%;
    height: 70vh;
    list-style: none;
    padding: 0;
    
}

table {
    align-items: stretch;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}
td{
    width: 216px;
    height: auto;
}

td h3{
    padding-top: 2px;
    font-family: Arial;
    font-size: 17px;
    text-align: center;
    margin: 0px;
    color: #000000;
}
tr{
    height: auto;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
    font-family: Arial;
    font-size: large;
    margin:  5px;
    border: 0px;
}

.day{
    font-family: Arial;
    font-size: large;
    width: fit-content;
    padding: 10px;
    background-color: #abff9f;
}

#time{
    position: absolute;
    right: 10px;
    top: 10px;
    font-family: Arial;
    font-size: large;
    width: fit-content;
    padding: 10px;
}

.choosen{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    transition: none;
    border-radius: 5px;
}
.choosen:hover{
    background-color: #aaffaf;
    transition: background-color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

.bio, .comb, .bus{
    display:none;
}

.now:hover .info{
    display: inline-block;
    position: absolute;
    align-self: start;
    margin-left: -9%;
    width: 15%;
}

.info{
    display: none;
    border: 1px solid #000000;
    background-color: #ffffff;
    border-radius: 5px;
    font-size: 15px;
}

/* @media (max-width: 600px) {
    body {
        rotate: 90deg;
        height: 100vw;
    }
} */